body {
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
}
.banner-image-container {
  background-color: #222222;
}

.banner-image {
  max-height: 400px;
}

.outer-container {
  margin: 0 auto;
  width: 70%;
  max-width: 700px;
}

h1, h2, h3 {
  font-family: Rokkitt, Helvetica, serif;
}

article {
  border: 2px solid #bbb;
  border-radius: 3px;
  margin: 10px 0;
  padding: 20px 100px;
}

article h2 {
  margin: 0;
}

p {
  text-indent: 1em;
  line-height: 1.5;
}

ul {
  max-width: 300px;
  padding: 0;
  margin: auto;
}

li {
  line-height: 1.5;
  list-style: none;
  padding: 10px 0;
}

.module-title {
  margin: 60px 0 20px;
  padding: 5px;
  border-bottom: 2px solid #bbb;
}

.module img {
  width: 100%;
  margin: 50px 0;
}

.codepen-container {
  margin: 50px 0;
}

.btn {
  display: inline-flex;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.nav-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.intro-page .nav-buttons {
  display: block;
}
